/* Don't change */
html, body {
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Whole page */
  body {
    margin-top: -22px;
    background-color: #135EAB;
  
    /* Center all on page */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* All images */
  img {
    object-fit: contain;
  }
  
  /* Movie background */
  .movie-background {
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    background-image: url('1539185817-715ffc76249de242441b0b948ef18043d48966dd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Content on movie background */
  .movie-background .container {
    background-color:rgba(255, 255, 255, 0.445);
    padding: 30px;
    position: absolute;
    bottom: 0px;
    left: 100px;
    right: 100px;
    display: flex;
  }
  
  /* Cover */
  .movie-background .container .cover img {
    width: 230px;
  }
  
  /* Content */
  .movie-background .container .content {
    padding-left: 30px;
  }
  
  /* Paragraph only in movie bacground */
  .movie-background .container .content p {
    color: #ffffff;
  }
  
  /* Main character */
  .main-character {
    display: flex;
    width: 1040px;
  }
  
  /* Director */
  .director {
    display: flex;
    flex-direction: row-reverse;
    width: 1040px;
  }
  
  /* Rating */
  .rating {
    display: flex;
    align-items: baseline;
  }
  
  /* Rating image */
  .rating .rate {
    width: 40px;
  }
  
  /* Rating title */
  .rating h4 {
    color: white;
    font-size: 22px;
  }
  
  .rating .big {
    color: rgb(255, 255, 255)41, 235, 235);
    font-size: 28px;
  }
  
  
  /* Typography */
  h1 {
    color: white;
    font-family: 'Helvetica', Courier, monospace;
  }
  
  .year {
    color: rgb(255, 255, 255);
  }

  .main-character {
    display: flex;
    flex-direction: row-reverse;
    width: 1040px;
  }

  .main-character img{
    width: 300px;
  }

  .main-character p{
    color: white;
    font-family: Helvetica;
  }

  .director p{
    color: white;
    font-family: Helvetica;
  }

  .main-character h2{
    color: white;
    font-family: Helvetica;
  }

  .main-character h3{
    color: white;
    font-family: Helvetica;
  }

  .director h3{
    color: white;
    font-family: Helvetica;
  }

  .director h2{
    color: white;
    font-family: Helvetica;
  }

  .content p{
    color: white;
    font-family: Helvetica;
  }
  .content a{
    color: white;
    font-family: Helvetica;
  }

  .content h4{
    color: white;
    font-family: Helvetica;
  }
  .director img{
    width: 300px;
  }

